.desktop * { 
    margin-left: auto;
    margin-right: auto;
}

td[style] {
    text-align: center;
    vertical-align: middle;
}

html, .desktop {
/*     height: 100%; */
    margin: 0 !important;
    overflow-x: hidden;
}

.desktop h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 0px 0px 5px;
    text-align: center;
}

#chat-frame {
    width: 100%;
}

.fullwidth {
    width: 100%;
}

.max-fullwidth {
    max-width: 100%;
}

.max-95 {
    max-width: 95%;
}

.margin {
    margin-top: 80px;
}

.margin.adminbar {
    margin-top: 110px;
}

.smallmargin {
    margin-top: 60px;
}

.smallmargin.adminbar {
    margin-top: 90px;
}

.nomargin {
    margin-top: 57px;
}

.nomargin.adminbar {
    margin-top: 88px;
}

.error-background {
    background: pink;
}

/** MENU START **/

.admin-menu {
    background-color: pink;
    position: relative;
    z-index: 4;
    margin-bottom: 31px;
/*     padding-bottom: 40px; */
}

.gwt-MenuBarPopup {
    z-index: 5;
}

.gwt-MenuItem:hover {
    cursor: pointer;
}

.gwt-DialogBox {
	z-index: 10000 !important;
}

.center-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}

.menu a {
    color: #000 !important;
}

.menu img {
    height: 35px;
/*     transition:all .2s;  */
}

.menu img:hover {
    cursor: pointer;
    height: 45px;
    margin-top: -10px;
    transition:all .2s ease-in-out; 
}

.menu img:active {
    cursor: pointer;
    transition:none;
}

.menu ul {
    margin: 0px 0px 10px;
    padding: 0 1em;
}

.menu li {
    display: inline;
    padding: 0 0.5em;
}

.menu li a {
    display: inline-block;
}

.menu a:hover > .page-name {
    transition: none;
    display: block;
    margin-left: -27px;
}

.menu a:active .page-name {
/*     font-size: 90%; */
/*     font-weight: bold; */
}

.page-name {
    transition: none;
    position: absolute;
    display: none;
    color: black;
    text-align: center;
    width: 100px;
}

#main-menu {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    vertical-align: middle;
    text-align: center;
    clear: both;
}

header {
    top: 0;
    position: fixed;
    z-index: 3;
    opacity: 0.9;
    min-height: 55px;
    width: 100%;
    background-color: #199fd2;
    color: white;
    margin: 0px;
    box-shadow: 0px 2px 2px #09103D;
}

/** MENU STOP **/

.cellTableHoveredRow {
    cursor: pointer;
    background: #09103D;
}

.cellTableRow {
    cursor: pointer;
    background: #09103D;
}

.page, .page:visited {
    color: #0066cc;
    text-decoration: none;
}

.page:hover {
    /*color: #0066cc;*/
    cursor: pointer;
    text-decoration: underline;
}

.info-panel {
    text-align: left;
    padding: 10px;
/*     border-radius: 10px; */
/*     margin: 0px 0px 10px; */
    box-shadow: 0px 4px 4px #000;
    background: lightsteelblue; /*#D65E2F;  199fd2 */
/*     opacity: 0.7; */
    
}

.button-panel .gwt-Button {
    width: 100%;
}

.gwt-DecoratedPopupPanel { 
    z-index: 3;
}

.meta-panel a {
    color: darkblue;
}

.about {
    text-align: left;
    max-width: 320px;
}

.about img {
    max-width: 300px;
}

.terms {
    text-align: left;
    max-width: 500px;
}

.search-icon {
    width: 20px;
    opacity: 0.7;
}

.search-icon:hover {
    opacity: 1.0;
}

.loading-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -110px;
}

.loading-text {
    margin-left: auto;
    margin-right: auto;
}

.loading-element {
    width: 100%;
}

.report-text-area {
    height: 125px;
}

.picture-title {
    font-size: 20pt;
    margin: 10px;
}

.picture-description {
    min-width: 200px;
    margin: 5px 20px 5px;
    max-width: 300px;
    text-align: left;
    word-wrap: break-word;
}

.picture-info {
    min-width: 200px;
    margin: 5px 0px 0px;
    text-align: left;
}

.score-info {
    font-size: 12pt;
}

.mission-picture {
    transition: none; 
    cursor: pointer;
    margin: 0px 0px 10px;
}

.mission-panel {
    max-width: 400px;
}
.pointer-table {
    cursor: pointer;
}

.picture-panel * {
    vertical-align: middle !important;
/*     max-width: 80%; */
/*     width: 95%; */
/*     display: table; */
/*     float: left; */
/*     max-height: 95%; */
}

.profile-panel *, .mission-panel * {
    text-align: left;
}

.profile-info-panel {
    max-width: 300px;
}

.profile-picture {
    margin-right: 15px;
}

.profile-gallery-button, .profile-gallery-header {
    margin-top: 15px;
}

.about-textarea {
    min-width: 150px;
    min-height: 80px;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.error-label {
    color: red;
}

.dialogBoxHTML {
    margin: 15px;
}

.arrow-right {}

.arrow-right:hover {
    cursor: pointer;
}

.arrow-right:active {
    width: 125px;
    margin-left: 3px;
/*     transition: all .2s ease-out-in;  */
}

.arrow-left {}

.arrow-left:hover {
    cursor: pointer;
}

.arrow-left:active {
    width: 125px;
    margin-right: 3px;
/*     transition: all .2s ease-out-in;  */
}

.hidden {
    visibility: hidden !important;
}

.superhidden {
    display: none !important;
}

.noscript {
    width: 22em;
    position: absolute;
    left: 50%;
    margin-left: -11em;
    color: red;
    background-color: white;
    border: 1px solid red;
    padding: 4px;
    font-family: sans-serif;
}

#login-menu {
    top: 0;
    right: 0;
    position:absolute;
    display: table-cell;
    margin: 5px auto 0px auto;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
}

#quote {
    position: absolute;
    top: 1px;
    left: 2px;
    color: black;
    text-align: left;
}

#quote:hover {
    font-weight:bold;
}

#logo {
    top: 10px;
    left: 0;
    position:absolute;
    text-align: left;
}

#logo > img {
    margin: 0px 0px 0px 10px;
    width: 64px;
}

#apparea {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#debug {
    text-align: center;
}

.captcha-question {
    margin: 5px;
}

.captcha-margin {
    margin-bottom: 10px;
}

.home-panel {
    width: 100%;
}

/** 
*   SEARCH
*/

.search-box {
    width: 95%; /* TODO: Bug? */
}

/**
*   COMMENTS
*/

/** ReadBox */
.comment-box {
    z-index: 2;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px #000;
    background: lightsteelblue;
    min-width: 400px;
    max-width: 600px;
}

.comment-button {
    position: absolute;
    bottom: 3px;
    right: 5px;
}

.comment-button-show-all {
    margin-bottom: 20px;
}

.comment-content {
    width: 100%;
    float: left;
}

.comment-text {
    text-align: left;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 32px;
    width: 300px;
    word-break: break-word;
}

.comment-thumbnail {
    z-index: 1;
    cursor: pointer;
    margin: 0;
    float: left;
}

.comment-textarea {
    width: 400px;
    height: 40px;
}

.comment-level-0 {
	margin-top: 20px;
    padding-left: 0px; 
}

.comment-level-1 {
    padding-left: 40px;	
}

.comment-level-2 {
    padding-left: 80px; 
}

.comment-level-3 {
    padding-left: 120px; 
}

.comment-level-4 {
    padding-left: 160px; 
}

.vote-section {
	margin-left: 7px;
}

.vote-button {
    width: 150%;
    height: 150%;
    opacity: 0.5;
}

.vote-button:hover {
    cursor: pointer;
    opacity: 1.0;
    transition: all .2s ease-in-out; 
}

.vote-total {
    font-weight: bold;
}

.vote-total-last {
    margin-left: 14px; 
}

/**
*   News section and widgets
*/

.news-section {
    max-width: 320px;
}

.news-element {
    max-width: 320px;
    margin-bottom: 15px;
}

.news-author {
    width: 100%;
    text-align: right;
}

.news-timestamp {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}

.news-content {
    text-align: left;
}

.news-header {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

/**
*   Gallery section
*/

.gallery-section {
    max-width: 90%;
}

.gallery-section .picture-element {
/*     width: 230px; */
/*     float: left; */
    display: inline-block;
}

.gallery-section .user-element {
/*     float: left; */
    display: inline-block;
}

.gallery-section .mission-element {
/*     float: left; */
    display: inline-block;
}

/**
*   Users section
*/

.home-user-panel {
    margin-right: 15px;
}

.users-section {
    text-align: left;
    max-width: 200px;
    margin-bottom: 15px;
}

.user-element {
    text-align: left;
    min-height: 50px;
    margin-bottom: 10px;
}

.user-element .user-image {
    height: 180px;
}

.user-element .user-image:hover {
    cursor: pointer;
    opacity: 0.7;
}

.user-element .gwt-HTML {
    width: 95%;
    text-align: left;
}

.simple-user-element {
    text-align: left;
    width: 100%;
    height: 50px;
    margin-left: 10px;
    transition:all 1s;
}

.simple-user-element:hover {
    cursor: pointer;
    background-color: lightsteelblue;
/*     transition: none; */
    margin-left: 0px;
}

.simple-user-element .gwt-HTML {
    width: 160px;
    text-align: left;
}

.users-header {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

.simple-user-element .user-image {
    width: 80px;
    margin-right: 5px;
}

.simple-user-element .user-image:hover {
    cursor: pointer;
    opacity: 0.7;
}

/**
*   Mission section
*/

.mission-element {
    min-height: 50px;
    margin-bottom: 10px;
    padding: 10px;
}

.mission-element .gwt-HTML, .mission-element h1 {
    text-align: left;
}

.mission-element:hover {
    cursor: pointer;
    background: lightsteelblue;
}

.suggest-mission-button {
    margin-top: 15px;
} 

/**
*   Last pictures section
*/

.picture-section {
    text-align: left;
    max-width: 200px;
    margin-left: 50px;
}

.picture-element {
    text-align: left;
    margin-bottom: 10px;
}

.picture-element .gwt-HTML {
    width: 95%;
    text-align: left;
}

.picture-header {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

.last-picture {
    width: 180px;
}

.last-picture:hover {
    cursor: pointer;
    opacity: 0.7;
}

/** RESPONSIVE CSS */
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
    .home-panel > tbody > tr > td {
        width: 100%;
        float: left;
        clear: both; 
    }
    
    .home-user-panel, .picture-section {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 520px), only screen and (max-device-width: 520px) {
    .profile-panel > tbody > tr > td {
        width: 100%;
        float: left;
        clear: both; 
    }
    
    #loginMenu li {
        display: block;
        padding: 0em;
    }
    
    #loginMenu ul {
        margin: 3px;
        margin-right: 10px;
        padding: 0em;
    }
    
    .picture-panel {
        position: relative;
        width: 100%;
    }
    
    .meta-panel > tbody > tr > td  {
        width: 100%;
        float: left;
        clear: both; 
    }
    
    .picture {
        display: block;
        min-width: 190px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .arrow-left {
        opacity: 0.7;
        position: absolute;
        left: 0;
        width: 62px;
    }
    
    .arrow-right {
        opacity: 0.7;
        position: absolute;
        right: 0;
        width: 62px;
    }
    
    .arrow-left:active {
        width: 60px;
    }
    
    .arrow-right:active {
        width: 60px;
    }
    
    .search-icon {
        margin-top: -10px;
    }
    
    .menu img:hover {
        cursor: pointer;
        height: 35px;
        margin-top: 0px;
        transition:none; 
    }

    .menu img:active {
        cursor: pointer;
        height: 30px;
        margin-top: 5px;
        transition:all .2s ease-in-out; 
    }
}

@media only screen and (max-width: 420px), only screen and (max-device-width: 420px) {
    header {
        position:relative;
        padding-top: 10px;
    }
    
    #main-menu {
        max-width: 210px;
        margin-left: 0;
        padding-bottom: 2px; 
    }
    
    .menu a:hover > .page-name {
        background-color: rgba(255, 255, 255, 0.6);
        border: 1px solid white;
        border-radius: 2px;
        margin-top: 0px;
    }
    
    .page-name:hover {
        display: none !important;
    }
    
    .margin.adminbar {
        margin-top: 30px;
    }
    
    .margin {
        margin-top: 10px;
    }

    .smallmargin {
        margin-top: 5px;
    }
    
    .nomargin {
        margin-top: 0px;
    }
        
    .menu a:hover .page-name {
        display: block;
    }
}

/**
*   Colours
*/

.gold {
    color: gold;
}

.silver {
    color: silver;
}

.bronze {
    color: brown;
}


/**
*   Mobile CSS (m-gwt)
*/

.m-home {
    margin: 10px;
}

.m-logo {
    margin-bottom: 4px;
}

.m-quote {
    margin: 4px;
}

.m-button:hover {
    cursor: pointer;
}

.m-center, m-center-all-children * {
    margin-left: auto;
    margin-right: auto;
}

.m-center-input > input, .m-center-input {
    text-align: center;
}

.m-middle *, .m-middle {
    vertical-align: middle !important; /*TODO: Fix the ugly hack */
}

.m-button-panel {
    margin-left: 3px;
    margin-right: 3px;    
}

.m-button {
    width: 250px;
    max-width: 100%;
}

.m-bar {
    background-color: #199fd2 !important;
    position: fixed !important;
    bottom: 0px !important;
}

.m-image {
    pointer-events: none;
    width: 100%;
/*     height: calc(100% - 40px); */
/*     margin-left: auto; */
/*     margin-right: auto; */
}

.m-about {
    width: 300px;
    max-width: 100%;
    text-align: left;
}

.m-about h1 {
    text-align: center;
}

.m-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-vote-total {
    width: 20px;
}