@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Advent Pro Regular'), local('AdventPro-Regular'), url(http://fonts.gstatic.com/s/adventpro/v4/rT9jpj7pBpZV6AmssbZKkxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

.desktop * { 
    margin-left: auto;
    margin-right: auto;
}

td[style] {
    text-align: center;
    vertical-align: middle;
}

html, .desktop {
    margin: 0 !important;
    height: 100%;
    min-height: 100%;
}

a {
    color: black !important;
}

.footer {
    height: 3em;
    background-image: url("images/footer.jpg");
    background-repeat: repeat-x;
}

h1, h2, h3, h4, h5 {
    font-family: 'Advent Pro';
    text-align: center;
}

h1 {
    font-size: 22pt;
    font-weight: bold;
}

h2 {
    font-size: 20pt;
}

#chat-frame {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

.fullwidth {
    width: 100%;
}

.padding {
    padding-top: 80px;
}

.padding.adminbar {
    padding-top: 110px !important;
}

.smallpadding, .nopadding {
    padding-top: 60px !important;
}

.smallpadding.adminbar {
    padding-top: 90px !important;
}

.nopadding.adminbar {
    padding-top: 88px !important;
}

.error-background {
    background: pink;
}

/** MENU START **/

.admin-menu {
    position: relative;
    z-index: 4;
    margin-bottom: 31px;
}

.gwt-MenuBarPopup {
    z-index: 5;
}

.gwt-MenuItem:hover {
    cursor: pointer;
}

.gwt-DialogBox {
    z-index: 10000 !important;
}

.center-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}

.menu a {
    color: #000 !important;
}

.menu img {
    height: 35px;
/*     transition:all .2s;  */
}

.menu img:hover {
    cursor: pointer;
    height: 45px;
    margin-top: -10px;
    transition:all .2s ease-in-out; 
}

.menu img:active {
    cursor: pointer;
    transition:none;
}

.menu ul {
    margin: 0px 0px 10px;
    padding: 0 1em;
}

.menu li {
    display: inline;
    padding: 0 0.5em;
}

.menu li a {
    display: inline-block;
}

.menu a:hover > .page-name {
    transition: none;
    display: block;
    margin-left: -27px;
}

.menu a:active .page-name {
/*     font-size: 90%; */
/*     font-weight: bold; */
}

.page-name {
    transition: none;
    position: absolute;
    display: none;
    color: black;
    text-align: center;
    width: 100px;
}

#main-menu {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    vertical-align: middle;
    text-align: center;
    clear: both;
}

header {
    top: 0;
    position: fixed;
    z-index: 3;
/*     opacity: 0.9; */
    min-height: 60px;
    width: 100%;
    background-color: #199fd2;
/*     background-color: rgb(56, 65, 83); */
    color: white;
    margin: 0px;
/*     box-shadow: 0px 2px 2px #09103D; */
}

header * {
    color: white;
}

/** MENU STOP **/

.cellTableHoveredRow {
    cursor: pointer;
    background: #09103D;
}

.cellTableRow {
    cursor: pointer;
    background: #09103D;
}

.page, .page:visited {
    color: #0066cc;
    text-decoration: none;
}

.page:hover {
    /*color: #0066cc;*/
    cursor: pointer;
    text-decoration: underline;
}

.info-panel {
    text-align: left;
    padding: 10px;
/*     border-radius: 10px; */
/*     margin: 0px 0px 10px; */
    box-shadow: 0px 4px 4px #000;
/*     opacity: 0.7; */
}

.button-panel .gwt-Button {
    width: 100%;
}

.gwt-DecoratedPopupPanel { 
    z-index: 3;
}

.meta-panel a {
    color: darkblue;
}

.about {
    text-align: left;
    max-width: 320px;
}

.about img {
    max-width: 300px;
}

.about-panel {
    padding: 10px;
}

.terms {
    text-align: left;
    max-width: 500px;
}


/* TODO: make proper tag CSS */
.tag {
    padding: 2px;
    border-radius: 4px;
    border: 1px solid #666;
    color: #444;
}

.tag:hover, .tag:active {
    background-color: #444;
    color: white;
}

.search-icon {
    position: fixed;
    top: 30px;
    left: 5px;
    width: 20px;
    opacity: 0.7;
}

.search-icon:hover {
    opacity: 1.0;
}

.loading-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -110px;
}

.loading-text {
    margin-left: auto;
    margin-right: auto;
}

.loading-element {
/*     width: 100%; */
}

.report-text-area {
    height: 125px;
}

.picture-title {
    font-size: 20pt;
    margin: 10px;
}

.picture-description {
    min-width: 200px;
    margin: 5px 20px 5px;
    max-width: 300px;
    text-align: left;
    word-wrap: break-word;
}

.picture-info {
    min-width: 200px;
    margin: 5px 0px 0px;
    text-align: left;
}

.score-info {
    font-size: 12pt;
}

.mission-picture {
    transition: none; 
    cursor: pointer;
    margin: 0px 0px 10px;
}

.mission-panel {
    max-width: 400px;
}
.pointer-table {
    cursor: pointer;
}

.picture-panel * {
    vertical-align: middle !important;
}

.profile-panel {
    width: 100%;
}

.profile-panel *, .mission-panel * {
    text-align: left;
}

.profile-info-panel {
    position: relative;
    display: inline-block;
    max-width: 300px;
    vertical-align: top;
    margin-top: 30px;
}

.profile-picture-container {
    display: inline-block;
    text-align: center;
    position: relative;
    width: -moz-min-content;
    width: -webkit-min-content; 
    width: min-content;
}

.profile-settings {
    position: absolute;
    top: 0;
    right: 0;
}

.profile-settings-panel * {
    display: block;
    width: 100%;
}

.profile-picture {
    margin-right: 15px;
}

.profile-change-pic-button {
    visibility: hidden;
    position: absolute;
    bottom: -2px;
    right: 12px;
}

.profile-picture-container:hover .profile-change-pic-button {
    visibility: visible;
}

.profile-gallery-button, .profile-gallery-header {
    margin-top: 15px;
}

.about-textarea {
    min-width: 150px;
    min-height: 80px;
}

/** Most GWT widgets already have a style name defined */
.dialogVPanel {
    margin: 5px;
}

.error-label {
    color: red;
}

.dialog-box-html {
    margin: 15px;
}

.arrow-right {}

.arrow-right:hover {
    cursor: pointer;
}

.arrow-right:active {
    width: 125px;
    margin-left: 3px;
/*     transition: all .2s ease-out-in;  */
}

.arrow-left {}

.arrow-left:hover {
    cursor: pointer;
}

.arrow-left:active {
    width: 125px;
    margin-right: 3px;
/*     transition: all .2s ease-out-in;  */
}

.hidden {
    visibility: hidden !important;
}

.superhidden {
    display: none !important;
}

.noscript {
    width: 22em;
    position: absolute;
    left: 50%;
    margin-left: -11em;
    color: red;
    background-color: white;
    border: 1px solid red;
    padding: 4px;
    font-family: 'Advent Pro';
}

#login-menu {
    top: 0;
    right: 0;
    position: absolute;
    display: table-cell;
    margin: 5px auto 0px auto;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
}

#login, #register {
    font-family: 'Advent Pro';
    color: white !important;
}

#quote {
    padding-top: 10px;
    font-size: 12pt;
    color: white;
    text-align: center;
    font-family: 'Advent Pro';
}

#quote:hover {
    font-weight: bold;
}

#logo {
    top: 10px;
    left: 0;
    position:absolute;
    text-align: left;
}

#logo > img {
    margin: 0px 0px 0px 10px;
    width: 64px;
}

#apparea {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100% - 60px);
}

#debug {
    text-align: center;
}

.captcha-question {
    margin: 5px;
}

.captcha-margin {
    margin-bottom: 10px;
}

.home-panel {
    width: 100%;
}

/** 
*   SEARCH
*/

.search-box {
    width: 95%; /* TODO: Bug? */
}

/**
*   COMMENTS
*/

/** ReadBox */
.comment-box {
    z-index: 2;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px #000;
    background: lightsteelblue;
    min-width: 400px;
    max-width: 600px;
}

.comment-button {
    position: absolute;
    bottom: 3px;
    right: 5px;
}

.comment-button-show-all {
    margin-bottom: 20px;
}

.comment-content {
    width: 100%;
    float: left;
}

.comment-text {
    text-align: left;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 32px;
    width: 300px;
    word-break: break-word;
}

.comment-thumbnail {
    z-index: 1;
    cursor: pointer;
    margin: 0;
    float: left;
}

.comment-textarea {
    width: 400px;
    height: 40px;
}

.comment-level-0 {
    margin-top: 20px;
    padding-left: 0px; 
}

.comment-level-1 {
    padding-left: 40px;    
}

.comment-level-2 {
    padding-left: 80px; 
}

.comment-level-3 {
    padding-left: 120px; 
}

.comment-level-4 {
    padding-left: 160px; 
}

.vote-section {
    margin-left: 7px;
}

.vote-button {
    width: 150%;
    height: 150%;
    opacity: 0.5;
}

.vote-button:hover {
    cursor: pointer;
    opacity: 1.0;
    transition: all .2s ease-in-out; 
}

.vote-total {
    font-weight: bold;
}

.vote-total-last {
    margin-left: 14px; 
}

/**
*   News section and widgets
*/

.news-section {
    width: 100%;
    color: white;
    margin-bottom: 15px;
    padding: 20px 0;
    background-image: url("images/header.jpg");
    background-attachment: fixed;
    -webkit-background-size: 100%;
    background-size: 100%;
/*     background-position: 0% 37%; */
/*     background-position: 0% 10%; */
    background-repeat: no-repeat no-repeat;
}

.news-element {
    max-width: 320px;
}

.news-author {
    width: 100%;
    text-align: right;
}

.news-timestamp {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}

.news-content {
    text-align: left;
    font-family: 'Advent Pro';
    font-size: 14pt;
}

.news-header {
    width: 100%;
}

/**
*   Missions page
*/

.mission-page-controller > * {
    display: inline-block;
}

/**
*   Gallery section
*/

.gallery-section {
    max-width: 90%;
}

.gallery-section .picture-element {
/*     width: 230px; */
/*     float: left; */
    display: inline-block;
}

.gallery-section .user-element {
/*     float: left; */
    display: inline-block;
}

.gallery-section .mission-element {
/*     float: left; */
    display: inline-block;
}

/**
*   Users section
*/

.home-user-panel {
    margin-bottom: 15px;
}

.users-section {
    margin-bottom: 15px;
}

.user-element {
    min-height: 50px;
    margin-bottom: 10px;
}

.user-element .user-image {
    height: 180px;
}

.user-element .user-image:hover {
    cursor: pointer;
    opacity: 0.7;
}

.user-element {
}

.simple-user-element {
    transition:all 1s;
    border-radius: 40px;
    margin: 5px;
    display: inline-block;
}

.simple-user-element:hover {
    cursor: pointer;
}

.simple-user-element .gwt-HTML {
}

.users-header {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

.simple-user-element .user-image {
    width: 80px;
    border-radius: 40px;
}

.simple-user-element .user-image:hover {
    cursor: pointer;
    opacity: 0.7;
}

/**
*   User tags
*/

.user-tag {
    display: table;
}

.user-tag * {
    display: table-cell;
    vertical-align: middle;
    margin: 2px;
    color: black !important;
}

.user-tag-picture-small {
    height: 20px;
    border-radius: 10px;
}

.user-tag-picture-medium {
    height: 40px;
    border-radius: 20px;
}

.user-tag-picture-large {
    height: 60px;
    border-radius: 30px;
}

.user-tag-picture {
    transition: transform .6s ease-in-out;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -ms-transition: -ms-transform .6s ease-in-out;
}

.user-tag-picture:hover {
    cursor: pointer;
    transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
}

.user-tag-picture:active {
    transform: none;
    -webkit-transform: none;
}

.user-tag-profile {
    float: right;
    position: fixed;
    right: 5px;
    top: 8px;
    z-index: 3;
}

.user-tag-section {
/*     display: table; */
    max-width: 180px;
}

.user-tag-section > * {
/*     display: inline-block; */
}

/**
*   Mission section
*/

.mission-element {
    max-width: 300px;
    min-height: 50px;
    margin-bottom: 10px;
    padding: 10px;
}

.mission-element .gwt-HTML, .mission-element h1 {
    text-align: left;
}

.mission-element:hover {
    cursor: pointer;
}

.suggest-mission-button {
    margin-top: 15px;
} 

/**
*   Last pictures section
*/

.picture-section {
    margin-bottom: 15px;
}

.picture-element {
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
}

.picture-element .gwt-HTML {
    width: 95%;
    max-width: 190px;
    word-wrap: break-word;
    text-align: left;
}

.picture-header {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

.last-picture {
    width: 180px;
}

.last-picture:hover {
    cursor: pointer;
    opacity: 0.7;
}

.last-picture-wrapper {
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
}

/** RESPONSIVE CSS */
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
    .home-panel > tbody > tr > td {
        width: 100%;
        float: left;
        clear: both; 
    }
    
    .home-user-panel, .picture-section {
        margin-left: auto;
        margin-right: auto;
    }
    
    /**
    *   COMMENTS
    */
    
    /** ReadBox */
    .comment-box {
        z-index: 2;
        position: relative;
        margin-bottom: 10px;
        box-shadow: 0px 4px 4px #000;
        background: lightsteelblue;
/*         min-width: 100px;  */
        width: 100%;
/*         max-width: 100%; */
    }
    
    .comment-text {
        text-align: left;
        margin: 5px;
        margin-top: 0px;
        margin-bottom: 32px;
        width: 200px;
        word-break: break-word;
    }
    
    .comment-textarea {
        height: 40px;
    }
    
    .comment-level-0, .comment-level-1, .comment-level-2, .comment-level-3, .comment-level-4 {
        margin-top: 20px;
        padding-left: 0px; 
    }
        
    .news-section {
        background-image: url("images/header-tall.jpg");
    }
}

@media only screen and (max-width: 520px), only screen and (max-device-width: 520px) {
    .profile-panel > tbody > tr > td {
        width: 100%;
        float: left;
        clear: both; 
    }
    
    #loginMenu li {
        display: block;
        padding: 0;
    }
    
    #loginMenu ul {
        margin: 3px;
        margin-right: 10px;
        padding: 0em;
    }
    
    .picture-panel {
        position: relative;
        width: 100%;
        margin-left: 0px;
    }
    
    .meta-panel > tbody > tr > td  {
        width: 100%;
        float: left;
        clear: both; 
    }
    
    .picture {
        display: block;
        min-width: 190px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .arrow-left {
        opacity: 0.7;
        position: absolute;
        left: 0;
        width: 62px;
    }
    
    .arrow-right {
        opacity: 0.7;
        position: absolute;
        right: 0;
        width: 62px;
    }
    
    .arrow-left:active {
        width: 60px;
    }
    
    .arrow-right:active {
        width: 60px;
    }
    
    .search-icon {
        margin-top: -10px;
    }
    
    .menu img:hover {
        cursor: pointer;
        height: 35px;
        margin-top: 0px;
        transition:none; 
    }

    .menu img:active {
        cursor: pointer;
        height: 30px;
        margin-top: 5px;
        transition:all .2s ease-in-out; 
    }
}

@media only screen and (max-width: 420px), only screen and (max-device-width: 420px) {
    header {
        position: relative;
        padding-top: 10px;
    }
    
    .desktop {
        overflow: hidden;
    }
    
    #main-menu {
        max-width: 210px;
        margin-left: 0;
        padding-bottom: 2px; 
    }
    
    .menu a:hover > .page-name {
        background-color: rgba(255, 255, 255, 0.6);
        border: 1px solid white;
        border-radius: 2px;
        margin-top: 0px;
    }
    
    .page-name:hover {
        display: none !important;
    }
    
    .padding.adminbar {
        margin-top: 30px;
    }
    
    .nopadding.adminbar {
        margin-top: 0px;
    }
    
    .padding {
        margin-top: 10px;
    }

    .smallpadding {
        margin-top: 5px;
    }
    
    .nopadding {
        margin-top: 0px;
    }
        
    .menu a:hover .page-name {
        display: block;
    }
    
    .news-element {
        display: none;
    }
    
/*     TODO: FIX COMMENTS */
}

/**
*   Colours
*/

.gold {
    color: gold;
}

.silver {
    color: silver;
}

.bronze {
    color: brown;
}


/**
*   Mobile CSS (m-gwt)
*/

.m-home {
    margin: 10px;
}

.m-apparea {
    margin-bottom: 45px;
}

.m-logo {
    margin-bottom: 4px;
}

.m-quote {
    margin: 4px;
}

.m-result > * {
    max-width: 300px;
    margin: 5px !important;
} 

.m-button:hover {
    cursor: pointer;
}

.m-picture-button {
    background-image: url(./images/icons/pictures.svg);
/*     background-size: 32px 32px; */
    background-repeat: no-repeat;
    background-position: left;
}

.m-highscore-button {
    background-image: url(./images/icons/highscore.svg);
    background-size: 48px 40px;
    background-repeat: no-repeat;
    background-position: left;
}

.m-mission-button {
    background-image: url(./images/icons/missions.svg);
    background-size: 48px 40px;
    background-repeat: no-repeat;
    background-position: left;
}

.m-search-button {
    background-image: url(./images/icons/search.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.m-about-button {
    background-image: url(./images/icons/help.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.m-login-button {
    background-image: url(./images/icons/login.svg);
/*     background-size: 48px 40px; */
    background-repeat: no-repeat;
    background-position: left;
}

.m-logout-button {
    background-image: url(./images/icons/logout.svg);
    background-size: 48px 48px;
    background-repeat: no-repeat;
    background-position: left;
}

.m-register-button {
    background-image: url(./images/icons/register.svg);
/*     background-size: 48px 48px; */
    background-position: -20% 96% !important;
    background-repeat: no-repeat;
    background-position: left;
}

.m-center {
    margin-left: auto;
    margin-right: auto;
}

.m-center-input > input, .m-center-input {
    text-align: center;
}

.m-middle *, .m-middle {
    vertical-align: middle !important; /*TODO: Fix the ugly hack */ /* It's for the HighscoreSection */ 
}

.m-button-panel {
/*     margin-left: 3px; */
/*     margin-right: 3px; */
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

.m-button {
    width: 150px;
    max-width: 100% !important;
    text-align: right !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.m-long-button {
/*     width: 100% !important; */
    max-width: 100% !important;
    margin: 5px;
}

.m-bar {
    background-color: #199fd2 !important;
    position: fixed !important;
    bottom: 0px !important;
}

.m-bar-title * {
    text-shadow: none !important;
}

.m-user-element {
    margin-top: 10px;
    max-width: 300px;
}

.m-image {
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.m-image-container {
    text-align: center;
}

.m-about {
    width: 300px;
    max-width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.m-about h1 {
    text-align: center;
}

.m-about h2 {
    margin-top: 5px;
}

.m-missions {
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-mission-description {
    width: 300px;
    max-width: 100%;
    text-align: left;
    margin: 10px;
}

.m-info-panel {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    padding: 10px;
    max-width: 300px;
    box-shadow: 0px 4px 4px #000;
}

.m-info-panel * {
    text-align: left;
}

.m-description-panel {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.m-upload-button {
    margin-top: 10px !important;
    cursor: pointer;
}

.m-apply-button {
    background-image: url(./images/icons/logout.svg);
/*     background-size: 48px 48px; */
    background-repeat: no-repeat;
    background-position: center;
}

.m-add-button {
    background-image: url(./images/icons/add.svg);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.m-remove-button {
    background-image: url(./images/icons/remove.svg);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.m-tagline {
    max-width: 150px;
}

.m-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-vote-total {
    width: 20px;
}